# Terraform directories
.terraform/
.terraform.tfstate.lock.info

# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Variable files
*.tfvars
*.tfvars.json

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lambda or other build artifacts
*.zip

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyi
*.env
*.venv
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
*.egg
*.egg-info/
dist/
build/
*.pytest_cache/
.pytest_cache/
.mypy_cache/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.log

# Nix
result/
*.drv
*.drv.lock
*.nar
*.lock
.venv/
.nix-channels
.nix-profile
/nix
